.itemCount {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(177, 85, 100); 
    font-size: large;
    margin: 20px;
    flex-wrap: wrap;
    flex-basis: 100%;
}

button:disabled {
    background-color: gray;
    cursor: inherit;
}

span {
    flex-basis: 100%;
    position: relative;
    left: 45%;
}

.agregar {
    display: flex;
    flex-flow: row wrap;
}