.itemCount {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(177, 85, 100); 
    font-size: large;
    margin: 20px;
    flex-wrap: wrap;
    flex-basis: 100%;
}

button {
    color: white;
    background-color: rgb(177, 85, 100); 
    border-radius: 3px;
    border: solid 3px rgb(241, 232, 237);
    margin: 20px;
    padding: 1%;
    cursor: pointer;
}

button:disabled {
    background-color: gray;
    cursor: inherit;
}

span {
    flex-basis: 100%;
    position: relative;
    left: 45%;
}

.agregar {
    display: flex;
    flex-flow: row wrap;
}