nav {
    font-family: 'Dancing Script';
    color: white;
    border-bottom: 2px solid white;
    width: 100%;
    height: 100px;
    background-color: rgb(177, 85, 100); 
}

h1 {
    font-size: 5rem;
    font-style: cursive;
}
  
li {
    list-style-type: none;
    font-size: 3rem;
}
  
a, a:visited{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-style: normal;
}